<div class="mycard">
    <div class="mycard-header">
        <label>@Title</label>
    </div>
    <div class="mycard-body">
        @CardBody
    </div>
    @if (ShowFooter)
    {
        <div class="mycard-footer">
            <button>@CancelLabel</button>
            <button>@SubmitLabel</button>
        </div>
    }
    
</div>