<div style="margin-bottom: 1rem">
    <span style="display: block; font-size: 2rem; color: crimson">@Title</span>
    <span style="display: block; font-size: 1rem; color:chocolate">@SubTitle</span>
</div>